<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
    <title>Person</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <h1>Person Edit/Create</h1>
    <!--/*@thymesVar id="person" type="com.github.ryneal.techtest.model.Person"*/-->
    <form id="personEdit" th:action="@{/}" th:object="${person}" action="#" method="post">
        <input type="hidden" th:field="*{id}"/>
        <table>
            <tr>
                <td>
                    <label>First Name</label>
                </td>
                <td>
                    <input type="text" th:field="*{firstname}"/>
                </td>
                <td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></td>
            </tr>
            <tr>
                <td>
                    <label>Surname</label>
                </td>
                <td>
                    <input type="text" th:field="*{surname}"/>
                </td>
                <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>