<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
    <title>People</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <h1>People View all</h1>
    <div class="container">
        <div class="pull-right">
            <a>Create Person Placeholder</a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Firstname</td>
                    <td>Surname</td>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${people.empty}">
                    <td colspan="3">No People</td>
                </tr>
                <tr th:each="person : ${people}">
                    <td>
                        <a th:href="@{'/' + ${person.id}}"
                            th:text="${person.id}"></a>
                    </td>
                    <td th:text="${person.firstname}"></td>
                    <td th:text="${person.surname}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
